<h3 class="text-xl font-medium mb-4 text-gray-800">Login with Email</h3>
<p class="text-gray-600 mb-4">Enter your email to continue.</p>
<%= form_with url: employers_sessions_process_email_path, scope: :employer, local: false do |f| %>
  <div class="mb-4">
    <%= f.label :email, 'Email', class: "block text-gray-700" %>
    <%= f.email_field :email, required: true, class: "mt-1 block w-full border border-gray-300 rounded-md p-2" %>
  </div>
  <%= f.submit 'Continue', class: "w-full inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-full text-amber-900 bg-amber-100 hover:bg-amber-200 transition-colors duration-300" %>
<% end %>

