# production:
#   periodic_cleanup:
#     class: CleanSoftDeletedRecordsJob
#     queue: background
#     args: [ 1000, { batch_size: 500 } ]
#     schedule: every hour
#   periodic_command:
#     command: "SoftDeletedRecord.due.delete_all"
#     priority: 2
#     schedule: at 5am every day


production:
  expire_offers:
    class: JobOfferExpirationJob
    schedule: every 1 hour

  # Job Alerts Cron Jobs
  job_alerts_daily:
    class: JobAlertsJob
    schedule: "0 1 * * *"  # Every day at 1 AM except Monday (Tuesday-Sunday)
    args:
      - frequency: "daily"

  job_alerts_weekly:
    class: JobAlertsJob
    # Runs every Monday at 1 AM, but only on days 8-31 of the month.
    # This effectively skips the first Monday of the month.
    schedule: "0 1 * * 1"
    args:
      - frequency: "weekly"

  job_alerts_monthly:
    class: JobAlertsJob
    # Runs every Monday at 1 AM, but only on days 1-7 of the month.
    # This effectively runs only on the first Monday of the month.
    schedule: "0 1 1 * *"
    args:
      - frequency: "monthly"

sitemap_refresh:
  class: SitemapRefreshJob
  schedule: "at 2am every day"