<div class="grid gap-6">
  <% jobs.each do |job| %>
     <%if job.is_a?(ExternalJobOffer)  %>
      <%= render 'external_job_card', job: job %>
    <% else %>
      <%= render 'job_card', job: job %>
    <% end %>
  <% end %>
</div>
