<div class="mt-8 max-w-4xl mx-auto p-6 bg-white rounded-md shadow-md" data-controller="reload-after-delay" data-reload-after-delay-delay-value="10000">
  <h1 class="text-3xl font-semibold text-amber-900 mb-4">
    We are processing your order! Please wait a moment.
  </h1>
</div>
